pipeline/pipeline5.json
{
	"name": "pipeline5",
	"properties": {
		"activities": [
			{
				"name": "GetFile",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://fzteststorage.blob.core.windows.net/fztestcontainer/sample4.csv",
					"method": "GET",
					"headers": {
						"x-ms-version": "2017-11-09"
					},
					"authentication": {
						"type": "MSI",
						"resource": "https://storage.azure.com/"
					}
				}
			},
			{
				"name": "Web2",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "GetFile",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://fzteststorage.blob.core.windows.net/fztestcontainer/inputDemo/",
					"method": "POST",
					"body": {
						"value": "@activity('GetFile').output.Response",
						"type": "Expression"
					}
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2022-04-05T17:31:54Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}